header
    .headerW
        nav
            img(src="./images/jz.png" alt="logo")
            ul
                li(class=active === 1 && 'active')
                    a(href='../index.html') 首页
                li(class=active === 2 && 'active')
                    a(href="../join.html") 代理加盟
                li(class=active === 3 && 'active')
                    a(href="../share.html") 共享产品
                li(class=active === 4 && 'active')
                    a(href="../aboutUs.html") 关于京猪
                li(class=active === 5 && 'active')
                    a(href="../news.html") 最新资讯
                li(class=active === 6 && 'active')
                    a(href="../download.html") 下载APP